

# Локальный конфиг с паролями


# Binaries
*.docx
*.bat
*.txt
*.sh
*.exe
*.exe~
*.dll
*.so
*.dylib
WebAPI.exe
WebAPI-with-console.exe

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
